.admin__user-wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background: #fff;
    border-radius: 10px;
    padding: 10px 0 0 10px;
    color: rgba(56, 56, 56, 0.8);
}

.admin__user-title {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all .2s;
    color: rgba(56, 56, 56, 0.8);
}

.admin__user-title:hover {
    cursor: pointer;
    color: #56d8e4;
}

.admin__user-container {
    margin: 0 10px 10px 0;
    border: 1px solid rgba(0,0,0, .1);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.admin__radio-btn {
    font-size: 18px;
    margin-bottom: 2px;
}

.admin__submit {
    margin-top: 4px;
}