.page-layout {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
}

.left__page-layout {
	display: flex;
	flex: 0 0 200px;
	min-width: 200px;
	max-width: 200px;
	justify-content: left;
}

.right__page-layout {
	display: flex;
	flex: 0 0 880px;
	min-width: 880px;
	max-width: 880px;
	flex-direction: column;
}

.empty__page-layout {
	display: flex;
	flex: 1 0 0;
	min-width: 4px;
}