.chat-container {
    max-width: 840px;
    min-width: 840px;
    position: relative;
    background-color: #ffffff;
    border: 1px;
    border-radius: 10px;
    padding: 5px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-text {
    text-align: center;
    color: rgb(56, 56, 56);
}

.decoration-text__chat {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin: 6px 15px 0 15px;
}

.chat-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 28px;
    overflow: auto;
    height: 100%;
    max-height: 818px;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-left {
    justify-content: left;
}

.row-right {
    margin-right: 10px;
    justify-content: right;
}

.message-image {
    margin-top: 10px;
    border-radius: 50%;
}

.message-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 6px;
}

.message-author {
    font-size: 18px;
    font-weight: 700;
    color: rgba(56,56,56, .8);
}

.message-date {
    font-size: 14px;
    margin-top: 3px;
    margin-left: 6px;
    margin-right: 6px;
    color: rgba(0, 0, 0, .5);
}

.chat-bubble {
    padding: 6px 14px;
    background: #eee;
    margin: 8px 20px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
    max-width: max-content;
    color: rgba(56,56,56, .7);
}

.chat-bubble::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble__left {
    margin-right: 200px;
}

.chat-bubble__left::after {
    top: 20px;
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble__right {
    margin-left: 190px;
    background: #a5f3fa;
}

.chat-bubble__right::after {
    top: 20px;
    right: 0;
    border-left-color: #a5f3fa;
    border-right: 0;
    margin-right: -20px;
}

.title-right {
    justify-content: right;
}

.decoration-input__chat {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin: 0px 15px 0 15px;
}

.message-input {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 15px;
    width: 780px;
    height: 30px;
    padding: 0 10px;
}

.message-input::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
}

.message-input:focus {
    outline: none;
}

.chat-box-tray {
    background: none;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.chat-box-tray button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    height: 30px;
    width: 30px;
    color: rgba(0, 0, 0, .4);
}
