body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

body {
	background: linear-gradient(115deg, #56d8e4 25%, #d600ea 75%) fixed;
}

.main-holder {
	position: relative;
	display: flex;
	width: 100%;
}

.empty-place {
	display: flex;
	flex: 1 0 0;
	min-width: 10px;
}

.liked {
	color: rgba(255, 74, 74, 0.9);
}

.if-is-empty-text {
	text-align: center;
	color: rgba(56, 56, 56, .6);
	background: #fff;
	border: 1px;
	border-radius: 10px;
}